@import "sass-variables";

:root {
    --colour-dark-blue: #173F5F;
    --colour-light-blue: #20639B;
    --colour-green: #3CAEA3;
    --colour-yellow: #F6D55C;
    --colour-orange: #ED553B;
    --colour-white: #F9F9F9;
    --colour-black: #333333;
    --colour-grey: #CCCCCC;

    --content-gutter: 10px;
    --content-header-footer-gap: 20px;
    --content-max-width: 1280px;

    --grid-column-gap: 10px;
    --grid-row-gap: 10px;

    --text-small: #{rem(14px)};
    --text-normal: #{rem(16px)};
    --text-medium: #{rem(18px)};
    --text-large: #{rem(20px)};

    --text-title-hero: #{rem(40px)};
    --text-title-large: #{rem(24px)};
    --text-title-medium: #{rem(22px)};
    --text-title-small: #{rem(20px)};
}

// Tablet
@media(min-width: $breakpoint-tablet-min) {
    :root {
        --content-gutter: 20px;
        --content-header-footer-gap: 40px;

        --grid-column-gap: 20px;
        --grid-row-gap: 20px;

        --text-title-hero: #{rem(54px)};
        --text-title-large: #{rem(32px)};
        --text-title-medium: #{rem(24px)};
        --text-title-small: #{rem(22px)};
    }
}

// Desktop
@media(min-width: $breakpoint-desktop-min) {
    :root {
        --content-gutter: 40px;

        --grid-column-gap: 40px;
        --grid-row-gap: 40px;
    }
}